@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.hero{
	background: #0c0c0c;
	width: 100%;
	height:80vh;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size:cover;
	position: relative;
	color: #fff;
	transition: 0.3s;

	&::before{
		content: "";
		background:rgba(37,150,190, 0.5);
		position: absolute;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}

	&-content{
		//text-align: center;
		display: flex;
		flex-direction: column;
		// align-items: center;
		h1{
			font-weight: bold;
			margin-bottom:30px;
			font-size:58px !important;
			animation-delay: 0.1s;
			@include media-breakpoint-up(lg){
				font-size:48px;
			}
		}
		p{
			width:100%;
			animation-delay: 0.4s;
			font-size:20px;
			margin-bottom: 40px;
			animation-delay: 0.5s;
			@include media-breakpoint-up(lg){
				width: 100%;
			}
		}

		&__btn{
			z-index: 10;
			cursor: pointer;
			position: relative;
			display: flex;
			animation-delay: .9s;
			.hero-btn{
				font-size: 1rem;
				padding:20px 28px;
				letter-spacing: .15rem;
				transition: all .3s;
				position: relative;
				overflow: hidden;
				z-index: 1;
				border:1px solid #607a85;
				background-color: #607a85;
				text-transform: uppercase;		
				border-radius: 0;	
				color: #fff;
				outline: 0;
				font-weight:500;

				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #607a85;
					z-index: -2;
				}

				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 100%;
					background-color: darken(#607a85, 15%);
					transition: all .3s;
					z-index: -1;
				}

				&:hover {
					color: #fff;
					&:before {
						width: 100%;
					}
				}
			}
		
		}
	}


	
  
}